<p style="font-family:arial; color:#737373; font-size:15">{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY"}}
{{~/inline~}}

<html>
  <body>
    {{#with transaction}}
    <h1 style="font-family:arial black; color:#86b300; font-size:30">You have been paid {{> format-money money=payout-total}}</h1>

    <p style="font-family:arial; color:#737373; font-size:15">We have sent you {{> format-money money=payout-total}} for the rental of {{listing.title}} by {{customer.display-name}}. It might take up to 7 days for the money to reach your bank account.</p>

    <p style="font-family:arial; color:#737373; font-size:15">Here's the breakdown.</p>

    <table>
      <thead>
        <tr>
          <th style="text-align: left; font-family:arial bold; color:#86b300; font-size:15">Payment</th>
  
           
            <tr>
              <th style="text-align: left;font-family:arial; color:#737373; font-size:15">Subtotal</th>
              <th style="text-align: right; padding-left: 20px; font-family:arial; color:#737373; font-size:15">{{> format-money money=line-total}}</th>
            </tr> 
          {{/eq}}

            {{#eq "line-item/provider-commission" code}}
            </tr>
            <td style="font-family:arial; color:#737373; font-size:15">{{marketplace.name}} fee:</td>
            <td style="text-align: right; padding-left: 20px; font-family:arial; color:#737373; font-size:15">{{> format-money money=line-total}}</td>
            </tr>
            {{/eq}}
        {{/contains}}
      {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: left; font-family:arial bold; color:#86b300; font-size:15">You earn</th>
          <th style="text-align: right; padding-left: 20px; font-family:arial; color:#86b300; font-size:15">{{> format-money money=payout-total}}</th>
        </tr>
      </tfoot>
    </table>
    <p style="font-family:arial; color:#737373; font-size:15">{{/with}}
    <br>
    <br>

    <hr />
    <p style="font-family:arial; color:#737373; font-size:15">You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body><br><a href="https://www.allotme.co.uk" target="_blank"><img src="https://static.wixstatic.com/media/84753e_729a2997d4e84ec99edec1370ebb5f68~mv2.png/v1/fill/w_320,h_72,al_c,usm_0.66_1.00_0.01/logo%20%26text%203_0.png" alt="AllotMe logo" width="140" height="32"></a>
</html>

