
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY"}}
{{~/inline~}}

<html>
  <body>
    <h1>Your booking request was accepted!</h1>

    {{#with transaction}}
    <p>{{provider.display-name}} has accepted your booking request for {{listing.title}}.</p>
    <p>We will charge your card {{> format-money money=payin-total}} every month until we hear from the host.</p>
    <p>Please contact the host in order to arrange your first time on site.</p>
    <p>Good luck!</p>
    {{/with}}

    <hr />

    <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p>
  </body>
</html>
